<!--<br>
<div class="col">
<div class="row">
  <div class="col-1"></div>
<div class="col-5">
  <h1><b>Crear Receta</b></h1>
  <h3 class="">Titulo</h3>
    <input type="text" placeholder="Un titulo ..."[(ngModel)]="titulo"/>
    <br>
    <h3 class="">Subtitulo</h3>
    <input type="text" placeholder="Un titulo ..."[(ngModel)]="subtitulo"/>
    <br>
    <h2 class="">Imagen</h2>
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" accept="image/*" class="custom-file-input" id="inputGroupFile02" (change)="handleFileSelect($event)">>
        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02"></label>
      </div>
      <div class="input-group-append">
        <span class="input-group-text" id="inputGroupFileAddon02" (click)="subirImagen()">Subir</span>
      </div>
    </div>
    <br>
    <h3 class="">Categoría</h3>
    <select name="categoria"  id="cat" [(ngModel)]="categoria">
    <option selected>Comidas</option>
    <option>Postres</option>
  </select>
</div>
<div class="col-5">
</div>
<div class="col-1"></div>
</div>
<div class="row">
<div class="col-1"></div>
<div class="col-10">
  <h3>Cuerpo</h3>
    <div class="">
      <app-ngx-editor [config]="config" style="background-color: white;" 
        [placeholder]="'Añade un mensaje aquí...'" [spellcheck]="true" [(ngModel)]="cuerpo">
      </app-ngx-editor>
    </div>
    <button class="btn btn-primary" (click)="subirReceta()"type="button">Publicar Receta</button> 
    <button class="btn btn-success" type="button" (click)="this.visible = !this.visible">Previsualizar</button>
    <div class="row">
      <div *ngIf="this.visible">
        <p>a</p>
      </div>
    </div>
</div>
<div class="col-1"></div>
</div>
-->
<br>
<div class="container">

  <!-- Titulo -->
  <div class="row">
    <div class="col-lg-12">
      <h1 *ngIf = 'this.editar == false'><b>Crear Receta</b></h1>
      <h1 *ngIf = 'this.editar == true'><b>Editar Receta</b></h1>
    </div>
  </div>
  <br>

  <!-- Formulario -->
  <div class="row">
    <div class="col-lg-3">
      <h3 class="">Titulo</h3>
      <!--<input type="text" placeholder="Un titulo ..."[(ngModel)]="titulo"/>-->
      <!-- Material input -->
      <div class="md-form mt-0">
        <input class="form-control" type="text" placeholder="Titulo" aria-label="Search" [(ngModel)]="titulo">
      </div>
      <!--<div class="md-form">
        <input type="text" id="form1" class="form-control" [(ngModel)]="titulo">
        <label for="form1">Titulo</label>
      </div>-->
    </div>
    <div class="col-lg-3">
      <h3 class="">Subtitulo</h3>
      <!--<input type="text" placeholder="Un subtitulo ..."[(ngModel)]="subtitulo"/>-->
      <!-- Material input -->
      <div class="md-form mt-0">
        <input class="form-control" type="text" placeholder="Titulo" aria-label="Search" [(ngModel)]="subtitulo">
      </div>
      <!--<div class="md-form">
        <input type="text" id="form1" class="form-control" [(ngModel)]="subtitulo">
        <label for="form1">Subtitulo</label>
      </div>-->
    </div>
  </div>
  <br>

  <!-- Imagen -->
  <div class="row">
    <div class="col-lg-12">
      <h3 class="">Imagen</h3>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" accept="image/*" class="custom-file-input" id="inputGroupFile02" (change)="cambiaPreview($event)">>
          <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02"></label>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- Categoría -->
  <div class="row">
    <div class="col-lg-12">
      <h3>Categoría</h3>
      <!--<select class="browser-default custom-select" name="categoria"  id="cat" [(ngModel)]="categoria">
        <option selected>Comidas</option>
        <option>Postres</option>
      </select>-->
      <select class="browser-default custom-select" [(ngModel)]="categoria">
        <option selected>Comidas</option>
        <option>Postres</option>
      </select>
    </div>
  </div>
  <br>

  <!-- Cuerpo -->
  <div class="row">
    <div class="col-lg-12">
      <h3>Cuerpo</h3>
      <div>
      <app-ngx-editor [config]="config" style="background-color: white;" 
        [placeholder]="'Añade un mensaje aquí...'" [spellcheck]="true" [(ngModel)]="cuerpo">
      </app-ngx-editor>
      </div>
    </div>
  </div>
  <br>

  <!-- Tags -->
  <h3>Tags</h3>
  <tag-input [(ngModel)]='tags' [maxItems]='5'></tag-input>
  <br>
  <br>

  <!-- Botones -->
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-primary" (click)="subirReceta()"type="button" *ngIf="this.editar==false">Publicar Receta</button>
      <button class="btn btn-primary" (click)="actualizarReceta()"type="button" *ngIf="this.editar==true">Actualizar Receta</button> 
      <button class="btn btn-success" type="button" (click)="this.visible = !this.visible">Previsualizar</button>
    </div>
  </div>
  
  <!-- Titulo -->
  <div class="row" *ngIf="this.visible==true">
    <div class="col-lg-12">
      <br>
      <hr>
      <br>
      <h1><b>{{titulo}}</b></h1>
    </div>
  </div>
  <br>
  
  <!-- Subitulo -->
  <div class="row" *ngIf="this.visible==true">
    <div class="col-lg-12">
      <h3>{{subtitulo}}</h3>
    </div>
  </div>
  <br>

  <!-- Cuerpo -->
  <div class="row" *ngIf="this.visible==true">
    <div class="col-lg-12">
      <p [innerHTML]="cuerpo | safe: 'html'"></p>
      <!--<p>{{recetaPage.cuerpo}}</p>-->
    </div>
  </div>
  <br>
  <hr>
  <br>

</div>