<!--Navbar-->
<header>
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark lighten-1" style="background-color: #880e4f;">
    <a class="navbar-brand" style="color: azure;">CookingWorld</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/Lista/Ultimas" style="color:rgb(255, 255, 255);">Últimas Recetas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Lista/Comidas" style="color:rgb(255, 255, 255);">Recetas de Comidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Lista/Postres" style="color:rgb(255, 255, 255);">Recetas de Postres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Lista/Megusta" style="color:rgb(255, 255, 255);">Más Me Gustas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Lista/Comentadas" style="color:rgb(255, 255, 255);">Más Comentadas</a>
        </li>
      </ul>
      <div [ngSwitch]="logged">
        <div *ngSwitchCase="false">
      <span class="navbar-text">
        <a routerLink="/LogIn" routerLinkActive="active">
          <button type="button" class="btn btn-default btn-sm">Login</button>
        </a>
      </span>
      <!--<span class="navbar-text">
        <a routerLink="/LogIn" routerLinkActive="active">
            <button class="btn btn-primary" type="button">Inicia Sesion</button>
          </a>
          </span>-->
        </div>
        <div *ngSwitchCase="true">
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item avatar">
              <div class="dropdown derecha">
              <img src="{{icono}}" class="rounded-circle z-depth-0 icono"
                  data-toggle="dropdown" alt="avatar image" height="35">
              <div class="dropdown-menu dropdown-primary dropdown-menu-right dropdown-menu-lg-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
                  <div *ngIf='rol == "admin"'>
                  <a class="dropdown-item" href="/CrearReceta">Publicar receta</a>
                  <a class="dropdown-item" href="/SigIn" >Crear admin</a>
                </div>
                <a class="dropdown-item" href="/Settings">Ajustes</a>
                <a class="dropdown-item" (click)='logout()'>Cerrar sesión</a>
              </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>