<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-10" *ngFor = "let receta of recetas,let i = index;">
            <!-- Card Narrower -->
            <div class="card card-cascade narrower">

                <!-- Card image -->
                <div class="view view-cascade overlay">
                <img class="card-img-top" src="{{receta.img}}"
                    alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
                </div>
            
                <!-- Card content -->
                <div class="card-body card-body-cascade">
            
                <!-- Label -->
                <h5 class="pink-text pb-2 pt-1"><i class="fas fa-utensils"></i> {{receta.categoria}}</h5>
                <!-- Title -->
                <h4 class="font-weight-bold card-title">{{receta.titulo}}</h4>
                <!-- Text -->
                <p class="card-text">{{receta.subtitulo}}</p>
                <!-- Button -->
                <a class="btn btn-unique" routerLink="/Lista/{{receta.id}}">¡Cocínalo!</a>
            
                </div>
            
                <!-- Card footer -->
                <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                    <ul class="list-unstyled list-inline font-small">
                        <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i>{{receta.fecha}}</li>
                        <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="far fa-comments pr-1"></i>{{receta.ncomen}}</a></li>
                        <li class="list-inline-item"><a (click)='megusta(receta.id)' class="white-text"><i class="far fa-heart"></i>{{receta.mg}}</a></li>
                    </ul>
                </div>
            
            </div>
            <!-- Card Narrower -->
            <br>
        </div>
    </div>
</div>