<!--
<br>
<br>
<div class="container">
<div class="row">
<div class="col">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 noticiascss">
      <form>
        <h1><b>Logueate!</b></h1>
        <br>
        <h6>¡Entra y disfruta!</h6>
        <div class="md-form">
          <i class="fas fa-user prefix"></i>
          <input type="text" id="inputIconEx2" class="form-control" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
          <label for="inputIconEx2">Escribe tu nombre de usuario</label>
        </div>

        <div class="md-form">
          <i class="fas fa-lock prefix"></i>
          <input type="password" id="inputValidationEx2" class="form-control validate" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
          <label for="inputValidationEx2" data-error="wrong" data-success="right">Escribe tu contraseña aquí</label>
        </div>
        <button type="submit" class="btn btn-elegant mb-1" (click)='submit()'>Entrar</button>
        <br>
        <br>
      </form>
    </div>
    <div class="col-1"></div>
  </div>
</div>
-->
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <!-- Default form login -->
      <form class="text-center border border-light p-5" action="#!">

        <p class="h4 mb-4">Logueate</p>

        <!-- User -->
        <input type="text" id="defaultLoginFormEmail" class="form-control" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" placeholder="Nombre de usuraio">
        <br>
        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" placeholder="Contraseña">
        <br>
        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit" (click)='submit()'>¡Entrar!</button>

        <!-- Register -->
        <p>¿Todavía no eres un verdadero chef? 
            <a routerLink="/SigIn">Únete</a>
        </p>

      </form>
      <!-- Default form login -->
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>