<div class="container">
    <br>
      <div>
          <div class="container">
              <div class="row">
                  <div class="col-1"></div>
                <div class="col-10">
                  <br>
                  <h1><b><strong>{{recetaPage.titulo}}</strong></b></h1>
                  <br>
                  <div class="mx-auto"><img class="img-fluid" src="{{recetaPage.img}}"></div>
                  <br>
                  <h3><b><strong>{{recetaPage.subtitulo}}</strong></b></h3>
                  <br>
                  <p>{{recetaPage.cuerpo}}</p>
              </div>
            </div>
      </div>
    </div>
</div>
