<!--<div class="container">
    <br>
      <div>
          <div class="container">
              <div class="row">
                  <div class="col-1"></div>
                <div class="col-10">
                  <br>
                  <h1><b><strong>{{recetaPage.titulo}}</strong></b></h1>
                  <br>
                  <div class="mx-auto"><img class="img-fluid" src="{{recetaPage.img}}"></div>
                  <br>
                  <h3><b><strong>{{recetaPage.subtitulo}}</strong></b></h3>
                  <br>
                  <p>{{recetaPage.cuerpo}}</p>
                  <br>
                  <br>
                  <h4>Comentarios</h4>
                  <app-ngx-editor [config]="config" 
                    [placeholder]="'Añade un mensaje aquí...'" [spellcheck]="true" [(ngModel)]="comentarioDummy">
                  </app-ngx-editor>
                  <br>
                  <button class="btn btn-success" type="button" (click)="Comentar()">Publicar</button>
                  <div class="container noticiascss" *ngFor="let comen of recetaPage.comentarios; let i = index; ">
              <br>
                <div class="row">
                <div class="col-2"><img src="{{comen.icono}}" class="rounded-circle z-depth-0"
                  data-toggle="dropdown" alt="avatar image" height="35">
                </div>
                <div class="col-6">
                  <h2>{{comen.nick}}</h2>
                  <p [(innerHTML)]=comen.cuerpo>
                </div>
                <div class="col-4" *ngIf="comen.id == idu || comen.iduser == idu || rol == 'admin'">
                  <button class="btn btn-danger" type="button" (click)="Eliminar(i)">X</button>
                </div>
              </div>
              </div>
              </div>
            </div>
      </div>
    </div>
</div>
-->
<br>
<div class="container">

  <!-- Titulo -->
  <div class="row">
    <div class="col-lg-10">
      <h1><b>{{recetaPage.titulo}}</b></h1>
    </div>
    <div class="col-lg-2" *ngIf="rol == 'admin'">
      <button class="btn btn-danger" type="button" (click)="eliminarReceta()">Eliminar</button>
    </div>
  </div>
  <br>
  
  <!-- Subitulo -->
  <div class="row">
    <div class="col-lg-12">
      <h3>{{recetaPage.subtitulo}}</h3>
    </div>
  </div>
  <br>

  <!-- Cuerpo -->
  <div class="row">
    <div class="col-lg-12">
      <p [innerHTML]="recetaPage.cuerpo | safe: 'html'"></p>
      <!--<p>{{recetaPage.cuerpo}}</p>-->
    </div>
  </div>
  <br>
  <hr>
  <br>

  <!-- Comentarios -->
  <div class="row">
    <div class="col-lg-12">
      <h4><b>Comentarios</b></h4>
      <br>
    </div>
    <app-ngx-editor class="texto" [config]="config" 
      [placeholder]="'Añade un mensaje aquí...'" [spellcheck]="true" [(ngModel)]="comentarioDummy">
    </app-ngx-editor>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-2">
      <button class="btn btn-success" type="button" (click)="Comentar()">Publicar</button>
    </div>
  </div>
  <br>
  
  <div *ngFor="let comen of recetaPage.comentarios; let i = index; ">
    <hr>
    <div class="row">
      <div class="col-lg-1">
        <img src="{{comen.icono}}" class="rounded-circle z-depth-0"
        data-toggle="dropdown" alt="avatar image" height="35">
      </div>
      <div class="col-lg-11">
        <h3>{{comen.nick}}</h3>
      </div>
      
    </div>
    <br>
    
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-9">
        <p class="texto" [(innerHTML)]=comen.cuerpo>
      </div>
      <div class="col-lg-2" *ngIf="comen.id == idu || comen.userId == idu || rol == 'admin'">
        <button class="btn btn-danger" type="button" (click)="Eliminar(i)">Eliminar</button>
      </div>
    </div>
    <hr>
  </div>
  
</div>