/* You can add global styles to this file, and also import other style files */
.fondo{
    background-image: url("https://previews.123rf.com/images/hatza/hatza1108/hatza110800006/10191855-comida-y-bebida-patr%C3%B3n-transparente.jpg");
}

.texto{
    overflow-wrap: break-word;
}

@media(max-width: 767.98px) { 
    .mobile {
        display:none
    }
    .derecha{
        padding-right: 150px;
    }
    .wi100{
        width: 100%;
        max-width: 250px;
        height: auto;
    }
}